<!-- 
@使用方法:
$('.xxx').click(function(){
	$('.as_ruleBox').show();
})
 -->
<div class="as_ruleBox">
<dl id="as_rule">
	<dt>
		<p class="rule_title">蚁巢仅退款、退货、换货规则</p>
		<ul class="rule_content">
			<li>
				<p>仅退款规则：</p>
				<p>在商户发起申请仅退款后，依以下情况分别处理：</p>
				<p>(一) 仓储同意退款或在有效时间内未操作的，蚁巢会自动退款给商户。</p>
				<p>(二) 仓储无法拒绝本次退款申请，如有意外，可要求蚁巢客服介入。</p>
			</li>
			<li>
				<p>退货规则：</p>
				<p>在商户发起申请退货后，依以下情况分别处理：</p>
				<p>(一) 仓储拒绝退货的，商户有权修改退货申请、要求蚁巢客服介入或确认收货。商户在仓储拒绝退货后有效时间内未操作的，退货流程关闭，交易正常进行；蚁巢客服介入处理后，会自动停止超时。但是如果处理期间，双方自行达成处理方案，撤销仲裁，则超时又会被自动启动。</p>
				<p>(二) 仓储同意退货或在有效时间内未操作，且不要求商户退货的，蚁巢会自动退款给商户。</p>
				<P>(三) 仓储同意退货或在有效时间内未操作，且要求商户退货的，则按以下情形处理：</P>
				<P>1、商户未在有效时间内点击退货，退货流程关闭，交易正常进行；</P>
				<P>2、商户在有效时间内点击退货，且仓储确认收货，蚁巢退款给商户；</P>
				<P>3、商户在有效时间内点击退货，且仓储未确认收货，超时蚁巢会自动退款给商户；但仓储确实没有收到，可拒绝或者要求蚁巢客服介入。</P>
			</li>
			<li>
				<p>换货规则：</p>
				<p>在商户发起申请换货后，依以下情况分别处理：</p>
				<p>(一) 仓储拒绝换货的，商户有权修改换货申请、要求蚁巢客服介入或确认收货。商户在仓储拒绝退货后有效时间内未操作的，换货流程关闭，交易正常进行；蚁巢客服介入处理后，会自动停止超时。但是如果处理期间，双方自行达成处理方案，撤销仲裁，则超时又会被自动启动。</p>
				<p>(二) 仓储同意换货或在有效时间内未操作，且双方完成换货，换货成功。</p>
				<p>(三) 仓储同意换货或在有效时间内未操作，且双方未完成换货，则按以下情形处理：</p>
				<p>1、在换货完成时间前，如有问题可要求蚁巢客服介入 ；</p>
				<p>2、在换货完成时间后，如遇其中一方有欺诈、诚信问题，可联系蚁巢客服。</p>
			</li>
		</ul>
		<p class="rule_notes">注：该规则解释权归杭州新共秀网络科技有限公司所有</p>
	</dt>
	<dd><i class="icon-error-outline" id="rule_close"></i></dd>
</dl>
</div>
<script type="text/javascript">
	var ruleclose = document.getElementById('rule_close');
	ruleclose.addEventListener('click',function(){
		document.querySelector('.as_ruleBox').style.display = "none";
	},false)
</script>