<footer class="yicon-tabbar">
	<a class="tabbar-items" href="/yich/wapservice/dist/html/business_center.html">
	    <span class="tabbar-icon">
	        <i class="icon-usercenter-outline icon-font-nomal"></i>
	    </span>
	    <span class="tabbar-text">商户中心</span>
	</a>
	<a class="tabbar-items" href="/yich/wap/src/html/fwh_caigoudan.html" style=" position:relative;">
	    <span class="tabbar-icon">
	        <i class="icon-purch-outline icon-font-nomal"></i>

	    </span>
	    <span class="tabbar-text">采购单</span>
	    <span class="countcg" id='countcg'>0</span>
	</a>
	<a class="tabbar-items tabbar-active" href="/yich/wapservice/dist/html/orderAllGoods.html">
	    <span class="tabbar-icon">
	        <i class="icon-order icon-font-nomal"></i>
	    </span>
	    <span class="tabbar-text">订单</span>
	</a>
	<a class="tabbar-items" href="/yich/wap/src/html/cailuku.html">
	    <span class="tabbar-icon">
	        <i class="icon-store-outline icon-font-nomal"></i>
	    </span>
	    <span class="tabbar-text">采录库</span>
	</a>
</footer> 